<ul class="list-group">
  {{#each clucks}}
    <a href="/clucker/{{id}}" class="list-group-item">{{username}} {{content}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/clucker/new">
  Cluck!
</a>
