<!-- Seed with fake data -->

<form class="form" action="/clucker" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Amarety McRoosterson" name='username'>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" placeholder="Whatchoo cluckin' 'bout?" name = 'content'>
  </div>
  <div class="form-group">
    <!-- <input type="file" id="i_file" value="">
    <img src="" width="200" style="display:none;" /> -->
  </div>
    <button type="submit" class="btn btn-default btn-success">Cluck!</button>
</form>
