<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/clucker"><img src="https://cdn.iconscout.com/public/images/icon/free/png-128/rooster-food-chicken-chick-animal-36ef95620b035487-128x128.png" id="brand">
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a type="button" class="btn btn-success" href="/clucker/new" style="color: white;">Cluck!</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>

<form class="form" action="/clucker" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Amarety McRoosterson" name='username'>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" placeholder="Whatchoo cluckin' 'bout?" name = 'content'>
  </div>
  <div class="form-group">
    <!-- <input type="file" id="i_file" value="">
    <img src="" width="200" style="display:none;" /> -->
  </div>
    <button type="submit" class="btn btn-default btn-success">Cluck!</button>
</form>
